<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAsCJW_46qlCvxN1qoG6nSuChHz4nVOJH0</string>
	<key>GCM_SENDER_ID</key>
	<string>775326377887</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.bikeRecord.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>bikerecord-data</string>
	<key>STORAGE_BUCKET</key>
	<string>bikerecord-data.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:775326377887:ios:fd41aa6b7cf3c37190bfaa</string>
	<key>DATABASE_URL</key>
	<string>https://bikerecord-data-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>